<#@ output extension=".xml" #>
<#@ include file="Variables.t4" #>
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <category name="Global" hidden="true">
        <setting type="integer" name="Total Device Count" variable="TotalDeviceCount" countsourceid="Device" />
    </category>
    <category name="Advanced" advanced="true">
        <setting type="string" name="Protocol Version" variable="ProtocolVersion" default="02" description="HiQNet protocol version (hex); 02 for modern devices, 01 only for dbx ZonePro" />
        <setting type="string" name="Source Address" variable="SourceAddress" default="00,33,00,00,00,00" description="HiQNet source address of this controller (6 bytes in hex)" />
        <setting type="string" name="Hop Count" variable="HopCount" default="05" description="Hop count (hex); default 05" />
        <setting type="integer" name="Polling Interval (Seconds)" variable="PollingIntervalSeconds" default="8" description="Keep-alive interval in seconds (must be less than the device's KAP, default 10)" />
    </category>
<#
for (var i = 1; i <= deviceCount; i++)
{
	string paddedIndex = i.ToString().PadLeft(2, '0');
    string sourceId = "Device" + i.ToString();
#>
    <category name="Device <#= paddedIndex #> - Connectivity" sourceid="<#= sourceId #>" condition="$TotalDeviceCount >= <#= i #>">
        <setting type="string" name="Name" variable="DeviceName<#= i #>" default="Crown Amp" description="A friendly name for the device" />
        <setting type="string" name="IP / Hostname" variable="DeviceAddress<#= i #>" default="1.1.1.1" description="The host name or IP address of the device" />
        <setting type="string" name="HiQNet Device Address" variable="HiQNetDeviceAddress<#= i #>" default="00,01" description="The HiQNet address of the device (in hex) [From Audio Architect]" />
        <setting type="string" name="HiQNet Virtual Device Address" variable="HiQNetVirtualDeviceAddress<#= i #>" default="00" description="The HiQNet address of the virtual device (in hex) [From Audio Architect]" />
        <setting type="mcinteger" name="Parameter Count" variable="DeviceParameterCount<#= i #>" default="1" description="The number of device parameters to control / monitor">
<#
for (int k = 1; k <= parameterCount; k++)
{
#>
            <choice name="<#= k #>" value="<#= k #>"></choice>
<#
}
#>
        </setting>
    </category>
<#
for (var j = 1; j <= parameterCount; j++)
{
    string paddedParameterIndex = j.ToString().PadLeft(2, '0');
#>
    <category name="Device <#= paddedIndex #> - Parameter <#= paddedParameterIndex #>" sourceid="<#= sourceId #>" condition="$TotalDeviceCount >= <#= i #> and $DeviceParameterCount<#= i #> >= <#= j #>">
        <setting type="string" name="Name" variable="ParameterName<#= i #>_<#= j #>" default="Mute Enabled" description="A friendly name for the parameter" />
        <setting type="string" name="HiQNet Object Address" variable="HiQNetObjectAddress<#= i #>_<#= j #>" default="10,17,03" description="The HiQNet address of the object (in hex) [From Audio Architect]" />
        <setting type="string" name="Id" variable="ParameterId<#= i #>_<#= j #>" default="00,07" description="Parameter ID (in hex) [From Audio Architect]" />
        <setting type="boolean" name="Allow Set" variable="ParameterAllowSet<#= i #>_<#= j #>" description="Allow setting parameter" />
        <setting type="mcinteger" name="Set Method" variable="ParameterSetMethod<#= i #>_<#= j #>" description="Parameter set method" condition="$ParameterAllowSet<#= i #>_<#= j #>">
            <choice name="Set (typed)" value="1" />
            <choice name="Set % (1.15 fixed point)" value="2" />
        </setting>
        <setting type="mcstring" name="Data Type" variable="ParameterDataType<#= i #>_<#= j #>" default="00" description="HiQNet wire data type (used when Set Method = Set)" condition="$ParameterAllowSet<#= i #>_<#= j #> and $ParameterSetMethod<#= i #>_<#= j #> == 1">
            <choice name="BYTE (signed 8-bit)" value="00" />
            <choice name="UBYTE (unsigned 8-bit)" value="01" />
            <choice name="WORD (signed 16-bit)" value="02" />
            <choice name="UWORD (unsigned 16-bit)" value="03" />
            <choice name="LONG (signed 32-bit)" value="04" />
            <choice name="ULONG (unsigned 32-bit)" value="05" />
            <choice name="FLOAT32" value="06" />
            <choice name="FLOAT64" value="07" />
            <choice name="LONG64" value="0A" />
            <choice name="ULONG64" value="0B" />
        </setting>
        <setting type="boolean" name="Enable Subscribe" variable="ParameterEnableSubscribe<#= i #>_<#= j #>" default="true" description="Subscribe to parameter value updates" />
        <setting type="mcstring" name="Subscription Type" variable="ParameterSubscriptionType<#= i #>_<#= j #>" default="00" description="Per-spec set to 00; vendor extensions may use Non-Sensor / Sensor" condition="$ParameterEnableSubscribe<#= i #>_<#= j #>">
            <choice name="All (spec default)" value="00" />
            <choice name="Non-Sensor" value="01" />
            <choice name="Sensor" value="02" />
        </setting>
        <setting type="string" name="Sensor Rate" variable="ParameterSensorRate<#= i #>_<#= j #>" default="00,00" description="Sensor update period in ms (2 byte hex, UWORD); 00,00 for non-sensor params" />
        <setting type="mcinteger" name="Variable Type" variable="ParameterVariableType<#= i #>_<#= j #>" default="2" description="System variable type to mirror this parameter into" condition="$ParameterEnableSubscribe<#= i #>_<#= j #>">
            <choice name="Boolean" value="1" />
            <choice name="Integer" value="2" />
            <choice name="String" value="3" />
        </setting>
    </category>
<#
}
}
#>
	<category name="Debug Settings" description="Driver debug options" hidden="true">
		<setting type="boolean" name="Enable Trace" variable="DebugTrace" description="Enable verbose debug output" />
	</category>
</configuration>
