<#@ output extension=".xml" #>
<#@ include file="Variables.t4" #>
<?xml version='1.0' encoding='utf-8'?>
<device>
  <sources>
    <source maxitems="<#= deviceCount #>" sourceid="Device" name="HiQnet Device">
    </source>
  </sources>
</device>